a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

body, html {
    max-width: 100%;
    overflow-x: hidden
}

body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1,5rem;
    background-color: var(--cor-grayinterface);
    color: var(--cor-gray100);
}

:root {
    --cor-primaria: #FAB448;
    --cor-primaria200: #FAD498;
    --cor-primaria300: #FAC470;
    --cor-primaria500: #D1973C;
    --cor-primaria600: #A87930;
    --cor-primaria-8: #FFF9F0;
    --cor-texto-preto: #141414;
    --cor-gray900: #141414;
    --cor-gray800: #3D3D3D;
    --cor-gray700: #7A7A7A;
    --cor-gray600: #A3A3A3;
    --cor-gray500: #B8B8B8;
    --cor-gray400: #D6D6D6;
    --cor-gray200: #EBEBEB;
    --cor-gray100: #FAFAFA;
    --cor-bg: #FAFAFD;
    --cor-grayinterface: #0A0A0A;
    --cor-branco: #fff;
    --cor-link: #4E52C7;
    --medida-padrao: 1rem;
    --medida-1: .25rem;
    --medida-2: .5rem;
    --medida-3: 1rem;
    --medida-4: 1.5rem;
    --medida-5: 3rem;
    --medida-6: 4.5rem;
    --medida-7: 6rem;
    --medida-8: 7.5rem;
    --medida-9: 9rem;
    --fonte-titulos: 'Work Sans', sans-serif;
    --fonte-padrao: 'Atkinson Hyperlegible', sans-serif;
    --fonte-peso-light: 300;
    --fonte-peso-regular: 400;
    --fonte-peso-medium: 500;
    --fonte-peso-semibold: 600;
    --fonte-peso-bold: 700;
    --fonte-peso-extrabold: 800;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100% !important
}

.m-0 {
    margin: 0 !important
}

.m-1 {
    margin: var(--medida-1) !important
}

.m-2 {
    margin: var(--medida-2) !important
}

.m-3 {
    margin: var(--medida-3) !important
}

.m-4 {
    margin: var(--medida-4) !important
}

.m-5 {
    margin: var(--medida-5) !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: var(--medida-1) !important
}

.mt-2 {
    margin-top: var(--medida-2) !important
}

.mt-3 {
    margin-top: var(--medida-3) !important
}

.mt-4 {
    margin-top: var(--medida-4) !important
}

.mt-5 {
    margin-top: var(--medida-5) !important
}

.mt-6 {
    margin-top: var(--medida-6) !important
}

.mt-7 {
    margin-top: var(--medida-7) !important
}

.mt-8 {
    margin-top: var(--medida-8) !important
}

.mt-9 {
    margin-top: var(--medida-9) !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: var(--medida-1) !important
}

.mb-2 {
    margin-bottom: var(--medida-2) !important
}

.mb-3 {
    margin-bottom: var(--medida-3) !important
}

.mb-4 {
    margin-bottom: var(--medida-4) !important
}

.mb-5 {
    margin-bottom: var(--medida-5) !important
}

.mb-6 {
    margin-bottom: var(--medida-6) !important
}

.mb-7 {
    margin-bottom: var(--medida-7) !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.mx-1 {
    margin-right: var(--medida-1) !important;
    margin-left: var(--medida-1) !important
}

.mx-2 {
    margin-right: var(--medida-2) !important;
    margin-left: var(--medida-2) !important
}

.mx-3 {
    margin-right: var(--medida-3) !important;
    margin-left: var(--medida-3) !important
}

.mx-4 {
    margin-right: var(--medida-4) !important;
    margin-left: var(--medida-4) !important
}

.mx-5 {
    margin-right: var(--medida-5) !important;
    margin-left: var(--medida-5) !important
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.my-1 {
    margin-top: var(--medida-1) !important;
    margin-bottom: var(--medida-1) !important
}

.my-2 {
    margin-top: var(--medida-2) !important;
    margin-bottom: var(--medida-2) !important
}

.my-3 {
    margin-top: var(--medida-3) !important;
    margin-bottom: var(--medida-3) !important
}

.my-4 {
    margin-top: var(--medida-4) !important;
    margin-bottom: var(--medida-4) !important
}

.my-5 {
    margin-top: var(--medida-5) !important;
    margin-bottom: var(--medida-5) !important
}

.p-0 {
    padding: 0 !important
}

.p-1 {
    padding: var(--medida-1) !important
}

.p-2 {
    padding: var(--medida-2) !important
}

.p-3 {
    padding: var(--medida-3) !important
}

.p-4 {
    padding: var(--medida-4) !important
}

.p-5 {
    padding: var(--medida-5) !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-1 {
    padding-top: var(--medida-1) !important
}

.pt-2 {
    padding-top: var(--medida-2) !important
}

.pt-3 {
    padding-top: var(--medida-3) !important
}

.pt-4 {
    padding-top: var(--medida-4) !important
}

.pt-5 {
    padding-top: var(--medida-5) !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-1 {
    padding-bottom: var(--medida-1) !important
}

.pb-2 {
    padding-bottom: var(--medida-2) !important
}

.pb-3 {
    padding-bottom: var(--medida-3) !important
}

.pb-4 {
    padding-bottom: var(--medida-4) !important
}

.pb-5 {
    padding-bottom: var(--medida-5) !important
}

.px-auto {
    padding-right: auto !important;
    padding-left: auto !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.px-1 {
    padding-right: var(--medida-1) !important;
    padding-left: var(--medida-1) !important
}

.px-2 {
    padding-right: var(--medida-2) !important;
    padding-left: var(--medida-2) !important
}

.px-3 {
    padding-right: var(--medida-3) !important;
    padding-left: var(--medida-3) !important
}

.px-4 {
    padding-right: var(--medida-4) !important;
    padding-left: var(--medida-4) !important
}

.px-5 {
    padding-right: var(--medida-5) !important;
    padding-left: var(--medida-5) !important
}

.px-6 {
    padding-right: var(--medida-6) !important;
    padding-left: var(--medida-6) !important;
}

.py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.py-1 {
    padding-top: var(--medida-1) !important;
    padding-bottom: var(--medida-1) !important
}

.py-2 {
    padding-top: var(--medida-2) !important;
    padding-bottom: var(--medida-2) !important
}

.py-3 {
    padding-top: var(--medida-3) !important;
    padding-bottom: var(--medida-3) !important
}

.py-4 {
    padding-top: var(--medida-4) !important;
    padding-bottom: var(--medida-4) !important
}

.py-5 {
    padding-top: var(--medida-5) !important;
    padding-bottom: var(--medida-5) !important
}

.large-span-0 {
    grid-column: span 0
}

.large-span-1 {
    grid-column: span 1
}

.large-span-2 {
    grid-column: span 2
}

.large-span-3 {
    grid-column: span 3
}

.large-span-4 {
    grid-column: span 4
}

.large-span-5 {
    grid-column: span 5
}

.large-span-6 {
    grid-column: span 6
}

.large-span-7 {
    grid-column: span 7
}

.large-span-8 {
    grid-column: span 8
}

.large-span-9 {
    grid-column: span 9
}

.large-span-10 {
    grid-column: span 10
}

.large-span-11 {
    grid-column: span 11
}

.large-span-12 {
    grid-column: span 12
}

.large-full {
    max-width: calc(100% - 1rem*2) !important;
}

/* Global */

h1 {
    font-family: var(--fonte-titulos);
    letter-spacing: -.03rem;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    letter-spacing: -.03rem;
    padding-bottom: .8rem;
}

h2 {
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.4rem;
    letter-spacing: -.03rem;
    padding-bottom: .4rem
}

h3 {
    font-family: var(--fonte-titulos);
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.3rem;
    letter-spacing: -.03rem;
    padding-bottom: .4rem
}

h4 {
    font-family: var(--fonte-titulos);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: -.03rem;
    padding-bottom: .2rem;
}

h5, h6 {
    font-family: var(--fonte-titulos);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3rem;
    letter-spacing: -.03rem;
}

strong {
    font-weight: 800
}

i, .italic {
    font-style: italic;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: .5rem
}

.paragraph-highlights {
    padding-top: var(--medida-5);
    font-size: 1.3rem;
    line-height: 150%;
}

button, a {
    font-family: var(--fonte-titulos);
    font-weight: var(--fonte-peso-bold);
    font-size: 1rem;
    color: var(--cor-texto-preto);
    background: var(--cor-primaria);
    border: 3px solid var(--cor-primaria);
    border-radius: 2px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

a:hover, button:hover {
    color: var(--cor-texto-preto);
    border: 3px solid var(--cor-primaria);
    background: var(--cor-primaria-8);
    text-decoration: none
}

button[type=submit]:focus, button[type=submit]:hover, button:focus, a:focus {
    color: var(--cor-primaria);
    background: var(--cor-gray900);
    border: 4px solid var(--cor-primaria200);
    outline: 2px dashed var(--cor-gray100);
    outline-offset: .25rem;
    box-shadow: none
}

.button-outline {
    background-color: transparent;
    color: var(--cor-primaria);
}

.button-text {
    background: transparent;
    color: var(--cor-primaria);
    border: 1px solid transparent;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.button-text:hover {
    background: var(--cor-gray800);
    color: var(--cor-primaria);
    border: 1px solid transparent;
    text-decoration: none;
}

.button-text:focus {
    color: var(--cor-primaria);
    background: var(--cor-gray900);
    border: 1px solid var(--cor-primaria200);
    outline: 2px dashed var(--cor-gray100);
    outline-offset: .25rem;
    box-shadow: none
}

.icon-btn {
    height: 1.5rem;
}

.btn-figma {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    background: var(--cor-bg);
    color: var(--cor-texto-preto);
    border: 2px solid var(--cor-primaria);
    box-shadow: 2px 2px 0px var(--cor-primaria);
    border-radius: 7px;
}

.btn-figma:hover {
    background: var(--cor-primaria200);
    border: 2px solid var(--cor-primaria);
    box-shadow: 2px 2px 0px var(--cor-primaria);
    border-radius: 7px;
}

.btn-figma:focus {
    color: var(--cor-primaria);
    background: var(--cor-gray900);
    border: 2px solid var(--cor-primaria200);
    outline: 2px dashed var(--cor-gray100);
    outline-offset: .35rem;
    box-shadow: 2px 2px 0px var(--cor-primaria);
}

.grid-container {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: .25rem 4.5rem;
    margin: 0 auto;
    max-width: calc(1440px - 1.5rem*2)
}

.pretitle {
    font-family: var(--fonte-titulos);
    font-weight: var(--fonte-peso-regular);
    font-size: 18px;
    line-height: 115%;
    letter-spacing: -0.03em;
    color: var(--cor-primaria500);
}

.color-primary300 {
    color: var(--cor-primaria300);
}

/* form */

form {
    display: flex;
    gap: 2.5rem;
}

input {
    border: 2px solid var(--cor-gray800);
    border-radius: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* Font Awesome */

.fa-brands, .fa-solid {
    color: var(--cor-bg);
    font-size: 1.4rem;
    pointer-events: none;
}

/* Material Icons */

a .material-symbols-outlined {
    font-size: 1em;
    vertical-align: -.2rem;
}

/* Header */

header {
    display: flex;
    padding: 1rem 0;
    background-color: var(--cor-grayinterface);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

.container-header {
    width: -webkit-fill-available;
    align-items: center;
}

.a_back-home {
    display: flex;
    text-decoration: none;
    background: none;
    border: .1rem solid transparent;
    padding: .15rem;
    width: min-content;
    height: min-content;
}

.a_back-home:hover {
    text-decoration: none;
    background: none;
    border: .12rem solid var(--cor-primaria);
}

.a_back-home:focus {
    background: none;
    border: .12rem solid var(--cor-primaria);
    outline: .15rem dashed var(--cor-primaria200);
    outline-offset: .13rem;
    box-shadow: none;
    border-radius: 0;
}

.menu-nav {
    display: grid;
    align-items: center;
    justify-content: end;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
}

.link-nav {
    font-family: var(--fonte-peso-bold);
    font-size: 1rem;
    color: var(--cor-bg);
    padding: .8rem .5rem;
    background: none;
    border: none;
}

.link-nav:hover {
    border: none;
    color: var(--cor-primaria);
    background: var(--cor-gray800);
    text-decoration: none;
}

.link-nav:focus {
    color: var(--cor-primaria);
    background: var(--cor-gray900);
    border: 1px solid var(--cor-primaria200);
    outline: .15rem dashed var(--cor-primaria200);
    outline-offset: .25rem;
    box-shadow: none
}

.menu-hamburguer {
    background: none;
    color: var(--cor-gray100);
    border: .4 solid var(--cor-gray600);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 6px;
}

.menu-hamburguer:hover {
    border: none;
    color: var(--cor-primaria);
    background: var(--cor-gray800);
    text-decoration: none;
}

@media (max-width: 1019px) {

    .link-nav {
        font-family: var(--fonte-peso-bold);
        font-size: 1rem;
        color: var(--cor-gray900);
        padding: .8rem 1rem;
        background: none;
        border: none;
    }

    .container-nav {
        padding-top: var(--medida-5);
        padding-bottom: var(--medida-6);
        align-items: center;
    }

    .container-nav li {
        display: flex;
        justify-content: flex-start;
        width: -webkit-fill-available;
    }

    .button-cv {
        align-items: center;
    }

    .container-nav .button-text {
        background: transparent;
        color: var(--cor-gray900);
        border: 1px solid transparent;
        text-decoration: none;
        padding: 1rem 1.5rem;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .container-nav.button-text:hover {
        background: var(--cor-gray800);
        color: var(--cor-primaria);
        border: 1px solid transparent;
        text-decoration: none;
    }
    
    .button-text:focus {
        color: var(--cor-primaria);
        background: var(--cor-gray900);
        border: 1px solid var(--cor-primaria200);
        outline: 2px dashed var(--cor-gray100);
        outline-offset: .25rem;
        box-shadow: none
    }
}

@media (min-width: 1020px) {
    #hamburger {
        display: none;
   }

   .container-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
   }  
}

#hamburger[aria-expanded='true'] {
    color: var(--cor-gray900);
    background: var(--cor-primaria);
}

#hamburger[aria-expanded='true'] span {
    position: static;
}

#hamburger[aria-expanded='true'] #expanded {
    display: block;
}

#hamburger[aria-expanded="true"] + .main-nav {
    display: block;
    position: absolute;
    left: 0;
    top: 88;
    background-color: var(--cor-primaria200);
    width: -webkit-fill-available;
}

.js-enabled .main-nav {
    display: none;
}

@media (min-width: 1020px) {
    .js-enabled .main-nav {
        display: block;
   }
}

.header-logo {
    height: 3rem;
}

/* Section About */

.hero {
    justify-items: stretch;
}

.hero-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-7);
}

.hero-button {
    height: auto;
    margin-top: var(--medida-3);
    display: flex;
    gap: var(--medida-3);
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-2);
    padding-left: var(--medida-3);
    padding-right: var(--medida-3);
    background: var(--cor-primaria200);
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 6px 10px 46px #000000;
    min-width: fit-content;
    grid-column-start: 9;
}

.legendphoto {
    font-family: var(--fonte-titulos);
    font-weight: var(--fonte-peso-regular);
    font-size: 18px;
    line-height: 115%;
    letter-spacing: -0.03em;
    color: var(--cor-gray900);
}

.img-hero {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: fit-content;
}

.column-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding-bottom: 4rem;
    grid-column-start: 13;
}

.btn-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    grid-column-start: 13;
}

.btn-social-icon {
    background: none;
    border: none;
    border: .2px solid transparent;
}

.btn-social-icon:hover {
    border: .2px solid var(--cor-primaria300);
    background-color: var(--cor-gray800);
}

.btn-social-icon:focus {
    color: var(--cor-gray900);
    background: var(--cor-gray800);
    border: 2px solid var(--cor-primaria200);
    outline: 2px dashed var(--cor-primaria);
    outline-offset: .25rem;
    box-shadow: none;
}

.about {
    background: #0E0E0E;
}

.aboutme {
    background: var(--cor-gray900);
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-7);
    margin-top: -3rem;
}

/* Section Projects */

.project-eduplay {
    background: #11627B;
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-7);
}

.container-center {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 8px;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    max-width: calc(1078px - 1.5rem*2);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.case-bg {
    display: contents;
}

.case-column1 {
    background-color: var(--cor-branco);
    border: 0.25rem solid #18BAED;
    padding-left: var(--medida-6);
    padding-right: var(--medida-5);
    height: 480px;
}

.case-column1_content {
    margin-top: var(--medida-5);
    margin-bottom: var(--medida-5);
}

.case-column2 {
    /*background-image: url(img/bg-case-eduplay.svg);*/
    background: #6ED7F9;
    height: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.tag-case {
    font-size: 0.8rem;
    font-family: var(--fonte-titulos);
    font-weight: var(--fonte-peso-semibold);
    letter-spacing: -.03rem;
    color: var(--cor-gray600);
}

.case-column1_content h2 {
    font-size: 3rem;
    line-height: 3.25rem;
    color: var(--cor-gray900);
}

.case-column1_content p {
    color: var(--cor-texto-preto);
    padding-bottom: var(--medida-6);
}

.button-eduplay {
    background: #18BAED;
    border: 3px solid #18BAED;
    border-radius: 2px;
    color: var(--cor-branco);
}

.button-eduplay {
    background: #18BAED;
    border: 3px solid #18BAED;
    border-radius: 2px;
    color: var(--cor-branco);
}

.button-eduplay:hover {
    color: #18BAED;
    border: 3px solid #18BAED;
    background: var(--cor-branco);
    text-decoration: none
}

.button-eduplay:focus {
    color: var(--cor-branco);
    background: var(--cor-texto-preto);
    border: 4px solid var(--cor-texto-preto);
    outline: 2px dashed var(--cor-texto-preto);
    outline-offset: .25rem;
    box-shadow: none
}

/* Section Hability */

.hability {
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-7);
}

    /* Accordion */

    .AccordionGroup > * + * /* Accordion */  {
        border-top: 1px solid hsl(0deg 0% 52%);
    }

    .hardskills /* accordionGroup */ {
        display: flex;
        flex-direction: column;
    }

    .hardskills h3 {
        padding-bottom: 0 ;
    }

    .AccordionBtn /* accordion-trigger */ {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        background: var(--cor-branco);
        border: 2px solid var(--cor-primaria);
        box-shadow: 1px 1px 0px var(--cor-primaria);
        border-radius: 0.4rem;
        color: var(--cor-texto-preto);
        margin-top: 1.5rem;
    }

    .accordion-title {
        font-family: 'Work Sans';
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 115%;
        text-align: left;
    }

    .AccordionBtn .material-symbols-outlined {
        font-size: 3rem;
        right: 0;
        transition: transform .4s ease;
        transform: rotate(0);
        transform-origin: center center;
    }

    .AccordionBtn:focus, .AccordionBtn[aria-expanded=true]:focus {
        color: var(--cor-texto-preto);
        background: var(--cor-primaria200);
        border: 2px solid var(--cor-primaria);
        box-shadow: 1px 1px 0px var(--cor-primaria);
    }

    .AccordionBtn:hover, .AccordionBtn[aria-expanded=true]:hover {
        background: var(--cor-primaria200);
        border: 2px solid var(--cor-primaria);
        box-shadow: 1px 1px 0px var(--cor-primaria);
    }

    .AccordionBtn[aria-expanded=true] {
        background: var(--cor-primaria);
        border: 2px solid var(--cor-primaria);
        box-shadow: 1px 1px 0px var(--cor-primaria);
        border-radius: 7px 7px 0 0;
    }

    .AccordionBtn[aria-expanded=true] .material-symbols-outlined {
        transform: rotateX(180deg);
    }

    .color-point {
        color: var(--cor-primaria);
    }

    .AccordionBtn[aria-expanded=true] .color-point, .AccordionBtn[aria-expanded=true]:hover .color-point, .AccordionBtn[aria-expanded=true]:focus .color-point, .AccordionBtn:hover .color-point, .AccordionBtn:focus .color-point {
        color: var(--cor-texto-preto);
    }

    .accordion-panel {
        background: var(--cor-branco);
        padding: 1.5rem 1rem;
        border: 4px solid var(--cor-primaria);
        border-radius: 0 0 7px 7px;
        color: var(--cor-gray900)
    }

    /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */

    .accordion-panel[hidden] {
        display: none;
    }

/* Section Contact */

.my-contact {
    justify-items: end;
}

.contact {
    background: var(--cor-gray900);
    padding-top: var(--medida-7);
    padding-bottom: var(--medida-7);
    color: var(--cor-branco);
}

.contact .title-h2 {
    color: var(--cor-branco);
}

.ul-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 422px;
}

.card-mycontact {
    width: -webkit-fill-available;
}

.card-mycontact a {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.75rem;
    gap: 12px;
    background: var(--cor-branco);
    border: 2px solid #FAB448;
    border-radius: 3px;
    color: var(--cor-gray900);
    font-weight: inherit;
}

.card-mycontact a:hover {
    background: #FAD498;
    color: var(--cor-gray900);
}

.card-mycontact a:hover .material-symbols-outlined, .card-mycontact a:focus .material-symbols-outlined {
    color: var(--cor-gray900);
}

.card-mycontact a:focus {
    color: var(--cor-gray900);
    background: #FAD498;
    border: 4px solid var(--cor-primaria);
    outline: 2px dashed var(--cor-primaria);
    outline-offset: .25rem;
    box-shadow: none
}

.card-mycontact .material-symbols-outlined {
    color: var(--cor-primaria);
    font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 40;
    font-size: 2.5rem;
    font-weight: 100;
    pointer-events: none;
    display: inline-block;
}

.card-mycontact .material-symbols-outlined:hover {
    color: var(--cor-gray900);
}

.card-mycontactText {
    width: -webkit-fill-available;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.card-mycontactTextBold {
    font-weight: bold;
}

/* link */

.link-social a {
    font-family: var(--fonte-padrao);
    font-weight: var(--fonte-peso-medium);
    font-size: 1rem;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
}

.link-social a:hover {
    font-family: var(--fonte-padrao);
    font-weight: var(--fonte-peso-bold);
    background: var(--cor-primaria200);
    color: var(--cor-texto-preto);
    text-decoration: none;
    padding: .2rem;
}

.link-social a:focus {
    color: var(--cor-primaria);
    background: var(--cor-texto-preto);
    border: 4px solid var(--cor-texto-preto);
    outline: 2px dashed var(--cor-texto-preto);
    outline-offset: .13rem;
    box-shadow: none
}

.link-social p {
    margin-bottom: 0;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--cor-grayinterface);
    padding-top: var(--medida-5);
    padding-bottom: var(--medida-5);
    color: var(--cor-branco);
}

.txt-footer {
    text-align: center;
}

.img-design-by {
    width: 120px;
}


/* sample page post */
    
    .body_post-page {
        margin: 0;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1,5rem;
        background-color: var(--cor-bg);
        color: var(--cor-gray900);
    }

    .body_post-page h1 {
        font-family: var(--fonte-titulos);
        font-weight: var(--fonte-peso-extrabold);
        font-size: 3.5rem;
        line-height: 115%;
        color: var(--cor-bg);
    }

    .post {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .post img {
        width: 100%;
    }

    .post a {
        color: var(--cor-link);
        font-family: var(--fonte-padrao);
        font-weight: var(--fonte-peso-bold);
        background: none;
        padding: .15rem 0;
        border-top: .12rem solid transparent;
        border-right: .12rem solid transparent;
        border-bottom: .12rem dashed var(--cor-link);
        border-left: .12rem solid transparent;
        width: fit-content;
    }

    .post a:hover {
        color: var(--cor-primaria200);
        background-color: var(--cor-link);
        border: .12rem solid var(--cor-link);
    }

    .post a:focus {
        color: var(--cor-primaria200);
        background-color: var(--cor-link);
        border: .12rem solid var(--cor-link);
        outline: .122rem dashed var(--cor-link);
        outline-offset: .13rem;
        box-shadow: none;
        border-radius: 0;
    }

    .post blockquote {
        padding: 12px 0px 12px 24px;
        border-left: 4px solid var(--cor-primaria);
    }

    .post .quote {
        padding: 24px 32px;
        border: none;
        font-size: 2rem;
        color: var(--cor-primaria600);
    }

    .post .emphasis {
        padding: 1rem;
        background: var(--cor-primaria200);
        border-top: 6px solid var(--cor-primaria);
        border-radius: 5px;
    }

    .hero-post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8rem 4.5rem;
        gap: 4.5rem;
        background: linear-gradient(0deg, rgba(250, 180, 72, 0.5), rgba(250, 180, 72, 0.5)), #0A0A0A;
    }

    .container_hero-post {
        padding: 0;
    }

    .hero-post-column-one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        padding: 1rem 1.5rem 1rem 0;
    }

    .hero-post-column-two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        padding: 1rem 0 1rem 1.5rem;
        border-left: 0.5px solid rgba(250, 250, 250, 0.25);;
    }


    .img-highlights-post {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: -72px;
        gap: 10px;
    }

    .p-highlights-post {
        font-family: var(--fonte-padrao);
        font-weight: var(--fonte-peso-regular);
        font-size: 1rem;
        color: var(--cor-bg);
    }

    .container_two-columns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 0px;
        gap: 1.5rem;
    }

    .single-column {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 1.5rem;
        grid-column: span 8;
    }

    .column-left {
        display: flex;
        flex-direction: column;
        width: 420px;
        gap: 1.5rem;
    } 

    .column-right {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        gap: 1.5rem;
        padding: 0 0 0 2rem;
        border-left: 0.5px solid var(--cor-gray500);
    } 

    .container_one-column {
        display: grid;
        grid-column-gap: 24px;
        grid-row-gap: 8px;
        grid-template-columns: repeat(8,minmax(0,1fr));
        padding: 0;
        margin: 0 auto;
        max-width: calc(860px - 1rem*2);
    }

    
@media (max-width:575.98px) {
    
    /* Global */

    .container {
        max-width: calc(542px - 1rem*2)
    }

    .grid-container {
        display: grid;
        grid-column-gap: 24px;
        grid-row-gap: 8px;
        grid-template-columns: repeat(12,minmax(0,1fr));
        padding: 0.25rem 1.5rem;
        margin: 0 auto;
        max-width: calc(542px - 1rem*2);
    }

    h1 {
        font-size: 2.5rem;
        line-height: 115%;
    }

    h2 {
        font-size: 2rem;
        line-height: 115%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 115%;
    }

    p {
        font-size: 1rem;
        line-height: 150%;
    }

    .paragraph-highlights {
        font-size: 1rem;
        line-height: 150%;
        padding-top: var(--medida-4);
    }

    .pretitle {
        font-size: .9rem;
        line-height: 115%;
    }

    button, a {
        width: max-content;
    }

    /* Section about */

    .hero {
        background-image: linear-gradient(0deg, rgba(14, 14, 14, 0.30), rgba(14, 14, 14, 0.30)), url(https://viniux.com/img/bg-mobile-img-vinicius.png);
        background-position: right;
        padding-bottom: 7.5rem;
        background-size: cover;
        background-position-x: 30vw;
        background-repeat: no-repeat;
    }

    .hero-column-1 {
        padding-top: var(--medida-6);
        padding-bottom: var(--medida-6);
    }
    
    .hero-button {
        flex-direction: column;
    }

    .btn-social {
        flex-direction: row;
        justify-content: center;
    }

    .hero-image,.btn-social {
        display: none;
    }

    .ul-contact, .container-contact {
        width: -webkit-fill-available;
    }

    .aboutme {
        padding-top: var(--medida-6);
        padding-bottom: var(--medida-6);
    }

    /* Project */

    .project-eduplay {
        padding-top: var(--medida-5);
        padding-bottom: var(--medida-5);
    }

    .case-bg {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .case-column1 {
        background: none;
        border: none;
        height: auto;
        padding: var(--medida-4);
    }

    .case-column1_content {
        margin-top: var(--medida-2);
        margin-bottom: var(--medida-2);
        display: flex;
        flex-direction: column;
    }

    .case-column1_content h2 {
        font-size: 1.75rem;
        line-height: 115%;
        color: var(--cor-gray200);
    }

    .case-column1_content p {
        font-size: .875rem;
        line-height: 150%;
        color: var(--cor-gray200);
        padding-bottom: var(--medida-4);
    }    

    .case-column2 {
        background: none;
        height: min-content;
    }

    .tag-case {
        color: var(--cor-gray200);
    }

    .android-eduplay {
        width: 70%;
    }

    /* Section hability */

    .hability, .accordion-hardskills {
        padding-top: var(--medida-6);
        padding-bottom: var(--medida-6);
    }

    /* Section Contact */

    .contact, .container-contact {
        padding-top: var(--medida-6);
        padding-bottom: var(--medida-6);
    }


    /* sample page */

        .body_post-page h1 {
            font-size: 2.5rem;
            line-height: 115%;
        }

        .container_hero-post {
            padding: 0;
        }

        .hero-post {
            padding: 2rem 1rem 8rem;
            gap: 4.5rem;
        }
       
        .hero-post-column-one {
            padding: 0;
        }
    
        .hero-post-column-two {
            border: none;
            padding: 1rem 0;
            gap: 32px;
        }

        .img-highlights-post img {
            margin-top: -72px;
            width: 100%;
        }

        .post {
            padding: 1rem;
        }

        .container_two-columns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1.5rem 0;
            gap: 3rem;

        }

        .column-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 1.5rem;
            width: inherit;
        } 
    
        .column-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: -webkit-fill-available;
            gap: 1.5rem;
            padding: 0;
            border: none;
        } 

        .post .quote {
            padding: 16px 24px;
            border: none;
            font-size: 1.5rem;
            color: var(--cor-primaria600);
        }
    
        /*old*/

        .post img {
            width: 100%;
        }
    
        .post a {
            color: var(--cor-link);
            font-family: var(--fonte-padrao);
            font-weight: var(--fonte-peso-bold);
            background: none;
            padding: .15rem 0;
            border-top: .12rem solid transparent;
            border-right: .12rem solid transparent;
            border-bottom: .12rem dashed var(--cor-link);
            border-left: .12rem solid transparent;
            width: fit-content;
        }
    
        .post a:hover {
            color: var(--cor-primaria200);
            background-color: var(--cor-link);
            border: .12rem solid var(--cor-link);
        }
    
        .post a:focus {
            color: var(--cor-primaria200);
            background-color: var(--cor-link);
            border: .12rem solid var(--cor-link);
            outline: .122rem dashed var(--cor-link);
            outline-offset: .13rem;
            box-shadow: none;
            border-radius: 0;
        }
    
        .post blockquote {
            padding: 12px 0px 12px 24px;
            border-left: 4px solid var(--cor-primaria);
        }
    
        
    
        .post .emphasis {
            padding: 1rem;
            background: var(--cor-primaria200);
            border-top: 6px solid var(--cor-primaria);
            border-radius: 5px;
        }
        
        .p-highlights-post {
            font-family: var(--fonte-padrao);
            font-weight: var(--fonte-peso-regular);
            font-size: 1rem;
            color: var(--cor-bg);
        }
    
        
        .single-column {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 1.5rem;
            grid-column: span 8;
        }
    
        .container_one-column {
            display: grid;
            grid-column-gap: 24px;
            grid-row-gap: 8px;
            grid-template-columns: repeat(8,minmax(0,1fr));
            padding: 0;
            margin: 0 auto;
            max-width: calc(860px - 1rem*2);
        }


    .small-span-0 {
        grid-column: span 0
    }

    .small-span-1 {
        grid-column: span 1
    }

    .small-span-2 {
        grid-column: span 2
    }

    .small-span-3 {
        grid-column: span 3
    }

    .small-span-4 {
        grid-column: span 4
    }

    .small-span-5 {
        grid-column: span 5
    }

    .small-span-6 {
        grid-column: span 6
    }

    .small-span-7 {
        grid-column: span 7
    }

    .small-span-8 {
        grid-column: span 8
    }

    .small-span-9 {
        grid-column: span 9
    }

    .small-span-10 {
        grid-column: span 10
    }

    .small-span-11 {
        grid-column: span 11
    }

    .small-span-12 {
        grid-column: span 12
    }
}